<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <h1> Super Cars Web-site</h1>
        <br/>
        <h2>Use this area to display information</h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
          <li>
            <a href="http://localhost:8081/Customer">http://localhost:8081/Customer</a>
          </li>
          <li>
            <a href="http://localhost:8081/Customer/create">http://localhost:8081/Customer/create</a>
          </li>

          <li>
            <a href="http://localhost:8081/Customer/edit/1">http://localhost:8081/Customer/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8081/Customer/edit/2">http://localhost:8081/Customer/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8081/Customer/edit/3">http://localhost:8081/Customer/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8081/Customer/delete/1">http://localhost:8081/Customer/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8081/Customer/delete/2">http://localhost:8081/Customer/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8081/Customer/delete/3">http://localhost:8081/Customer/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8081/Customer/details/1">http://localhost:8081/Customer/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8081/Customer/details/2">http://localhost:8081/Customer/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8081/Customer/details/3">http://localhost:8081/Customer/details/3</a>
          </li>


          <br />
          <li>
              <a href="http://localhost:8081/products">http://localhost:8081/products</a>
            </li>
            <li>
              <a href="http://localhost:8081/products/create">http://localhost:8081/products/create</a>
            </li>
  
            <li>
              <a href="http://localhost:8081/products/edit/1">http://localhost:8081/products/edit/1</a>
            </li>
            <li>
              <a href="http://localhost:8081/products/edit/2">http://localhost:8081/products/edit/2</a>
            </li>
            <li>
              <a href="http://localhost:8081/products/edit/3">http://localhost:8081/products/edit/3</a>
            </li>
    
            <li>
              <a href="http://localhost:8081/products/delete/1">http://localhost:8081/products/delete/1</a>
            </li>
            <li>
              <a href="http://localhost:8081/products/delete/2">http://localhost:8081/products/delete/2</a>
            </li>
            <li>
              <a href="http://localhost:8081/products/delete/3">http://localhost:8081/products/delete/3</a>
            </li>
    
            <li>
              <a href="http://localhost:8081/products/details/1">http://localhost:8081/products/details/1</a>
            </li>
            <li>
              <a href="http://localhost:8081/products/details/2">http://localhost:8081/products/details/2</a>
            </li>
            <li>
              <a href="http://localhost:8081/products/details/3">http://localhost:8081/products/details/3</a>
            </li>

            <br />
          <li>
              <a href="http://localhost:8081/orderLineItem">http://localhost:8081/orderLineItem</a>
            </li>
            <li>
              <a href="http://localhost:8081/orderLineItem/create">http://localhost:8081/orderLineItem/create</a>
            </li>
  
            <li>
              <a href="http://localhost:8081/orderLineItem/edit/1">http://localhost:8081/orderLineItem/edit/1</a>
            </li>
            <li>
              <a href="http://localhost:8081/orderLineItem/edit/2">http://localhost:8081/orderLineItem/edit/2</a>
            </li>
            <li>
              <a href="http://localhost:8081/orderLineItem/edit/3">http://localhost:8081/orderLineItem/edit/3</a>
            </li>
    
            <li>
              <a href="http://localhost:8081/orderLineItem/delete/1">http://localhost:8081/orderLineItem/delete/1</a>
            </li>
            <li>
              <a href="http://localhost:8081/orderLineItem/delete/2">http://localhost:8081/orderLineItem/delete/2</a>
            </li>
            <li>
              <a href="http://localhost:8081/orderLineItem/delete/3">http://localhost:8081/orderLineItem/delete/3</a>
            </li>
    
            <li>
              <a href="http://localhost:8081/orderLineItem/details/1">http://localhost:8081/orderLineItem/details/1</a>
            </li>
            <li>
              <a href="http://localhost:8081/orderLineItem/details/2">http://localhost:8081/orderLineItem/details/2</a>
            </li>
            <li>
              <a href="http://localhost:8081/orderLineItem/details/3">http://localhost:8081/orderLineItem/details/3</a>
            </li>

            <br />
                  <!--Sagar Tiwari-->
          <li>
              <a href="http://localhost:8081/order">http://localhost:8081/order</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/create">http://localhost:8081/order/create</a>
            </li>
  
            <li>
              <a href="http://localhost:8081/order/edit/1">http://localhost:8081/order/edit/1</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/edit/2">http://localhost:8081/order/edit/2</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/edit/3">http://localhost:8081/order/edit/3</a>
            </li>
    
            <li>
              <a href="http://localhost:8081/order/delete/1">http://localhost:8081/order/delete/1</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/delete/2">http://localhost:8081/order/delete/2</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/delete/3">http://localhost:8081/order/delete/3</a>
            </li>
    
            <li>
              <a href="http://localhost:8081/order/details/1">http://localhost:8081/order/details/1</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/details/2">http://localhost:8081/order/details/2</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/details/3">http://localhost:8081/order/details/3</a>
            </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  

          <li>
            <a href="http://localhost:8081/Customer/findall">http://localhost:8081/Customer/findall</a>
          </li>
          <li>
            <a href="http://localhost:8081/Customer/findone/1">http://localhost:8081/Customer/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8081/Customer/findone/2">http://localhost:8081/Customer/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8081/Customer/findone/3">http://localhost:8081/Customer/findone/3</a>
          </li>

          <br />

           <li>
              <a href="http://localhost:8081/products/findall">http://localhost:8081/products/findall</a>
            </li>
            <li>
              <a href="http://localhost:8081/products/findone/1">http://localhost:8081/products/findone/1</a>
            </li>
            <li>
              <a href="http://localhost:8081/products/findone/2">http://localhost:8081/products/findone/2</a>
            </li>
            <li>
              <a href="http://localhost:8081/products/findone/3">http://localhost:8081/products/findone/3</a>
            </li>

          <br />

          <li>
              <a href="http://localhost:8081/orderLineItem/findall">http://localhost:8081/orderLineItem/findall</a>
            </li>
            <li>
              <a href="http://localhost:8081/orderLineItem/findone/1">http://localhost:8081/orderLineItem/findone/1</a>
            </li>
            <li>
              <a href="http://localhost:8081/orderLineItem/findone/2">http://localhost:8081/orderLineItem/findone/2</a>
            </li>
            <li>
              <a href="http://localhost:8081/orderLineItem/findone/3">http://localhost:8081/orderLineItem/findone/3</a>
            </li>

            <br />
          <!--Sagar-->

          <li>
              <a href="http://localhost:8081/order/findall">http://localhost:8081/order/findall</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/findone/1">http://localhost:8081/order/findone/1</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/findone/2">http://localhost:8081/order/findone/2</a>
            </li>
            <li>
              <a href="http://localhost:8081/order/findone/3">http://localhost:8081/order/findone/3</a>
            </li>
  
        </ol>
  
  
      </div>
    </div>
  </div>